.vscode

# Datasets and model artifacts
pvp4real/datasets/
pvp4real/models/

# ROS2 colcon build artifacts
colcon-ws/build/
colcon-ws/install/
colcon-ws/log/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
.eggs/