x-common-basic: &common-basic
  build:
    context: ..
    dockerfile: docker/dockerfile.gpu.cu124
    target: release-stage
  image: pomelo925/pvp4real:gpu-cu124
  privileged: true
  stop_grace_period: 1s
  network_mode: "host"
  stdin_open: true
  tty: true
  deploy:
    resources:
      reservations:
        devices:
          - driver: nvidia
            count: all
            capabilities: [gpu, compute, utility]

x-common-ros2: &common-ros2
  volumes:
    # GUI
    - "${XAUTHORITY:-$HOME/.Xauthority}:${XAUTHORITY:-/root/.Xauthority}"
    - "/tmp/.X11-unix:/tmp/.X11-unix"
    
    # Workspace
    - ../pvp4real:/workspace/pvp4real
    - ../colcon-ws:/workspace/colcon-ws
    - ./services:/docker/services
  working_dir: /workspace/pvp4real
  environment:
    DISPLAY: ${DISPLAY}
    QT_X11_NO_MITSHM: 1
    
    ROS_DOMAIN_ID: ${ROS_DOMAIN_ID:-0}
    RMW_IMPLEMENTATION: rmw_cyclonedds_cpp
    
    # NVIDIA GPU support
    NVIDIA_VISIBLE_DEVICES: all
    NVIDIA_DRIVER_CAPABILITIES: compute,utility,graphics

services:
  dev:
    <<: [*common-basic, *common-ros2]
    container_name: pvp4real-gpu-cu124-dev
    command: bash

  online:
    <<: [*common-basic, *common-ros2]
    container_name: pvp4real-gpu-cu124-online
    command: bash /docker/services/online.sh

  deploy:
    <<: [*common-basic, *common-ros2]
    container_name: pvp4real-gpu-cu124-deploy
    command: bash /docker/services/deploy.sh

  record:
    <<: [*common-basic, *common-ros2]
    container_name: pvp4real-gpu-cu124-record
    command: bash /docker/services/record.sh

  cb:
    <<: [*common-basic, *common-ros2]
    container_name: pvp4real-gpu-cu124-cb
    command: bash /docker/services/cb.sh
